@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  background-image: linear-gradient(to right,#0093e9 0%,#80d0c7 100%);
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Comfortaa,cursive;
}

h2 {
  color: #152780;
}

.transaction {
  text-align: center;  
}

input[type="date"] {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
}

.transaction-summary {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

}

.transaction-container {
  background-color: #fff;
  box-shadow: 6px 6px 21px 1px #00000036;
}

.transaction-data{
  margin: 0 auto;
}

.total{
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.total span{
  float: left;
  width: 200px;
}

.total:first-child .total-key, .total:first-child .total-count, .total:first-child .total-rand, .total:first-child .total-usd {
  background: #2c44b9;
  color: #fff;
}


.transaction-details-table{
  clear: both;
}
.filters{
  margin-bottom: 25px;
}
.filters select {
  padding: 10px 15px;
  border-radius: 6px;
}
.filters button {
  font-family: 'Comfortaa', cursive; 
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;  
  padding: 1em 3em;
  background-size: 200% auto;
  color: white;
  border: 1px solid #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(to right, #5c61f2 0%, #99c8f8 50%, #5c61f2 100%);
  transition: 0.5s;
  cursor: pointer;
}
  
.filters button:hover {
  background-position: right center;
}
  

.result{
  margin-bottom: 10px;
}
.filters span label{
  margin-right: 10px;
  margin-left: 20px;
}
.filters a{
  margin-left: 20px;
}
.login {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  font-family: 'Comfortaa', cursive;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.form input:focus {
  background: #dbdbdb;
}

/* .form button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #4b6cb7;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
} */

.form button {
  font-family: 'Comfortaa', cursive;
  width: 100%;  
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 1em!important;
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;  
  padding: 1em 3em;
  background-size: 200% auto;
  color: white;
  border: none;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(to right, #5c61f2 0%, #99c8f8 50%, #5c61f2 100%);
  transition: 0.5s;
  cursor: pointer;
}

.form button:hover {
  background-position: right center;
}

.form button:active {
  background: #395591;
}

.form span {
  font-size: 75px;
  color: #4b6cb7;
}

.ReactTable .rt-thead.-header {

  background-color: #2c44b9;
  color: #fff;

}

.pagination-bottom {
  position: inherit;
  bottom: 0;
  display: flex;
  background: #2c44b9;
  width: 100%;
}

.ReactTable .-pagination {
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.ReactTable .rt-tbody {
  background-color: #fff;
}

.ReactTable .-pagination .-center {
  color: #fff;
}

.rt-table{
  overflow :scroll;
}
.-previous button {
  background: #fff!important;
  font-weight: 600;
  cursor: pointer;
  opacity: 1;
}

.-next button {
  background: #fff!important;
  font-weight: 600;
  cursor: pointer;
  opacity: 1;
}

.-previous button:hover, .-next button:hover {
color: #2c44b9!important;
}